{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <div id="faq">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Qu'est-ce que le dropshipping ?</h2>
        <p>Le dropshipping est le principe de vendre un produit à travers un site e-commerce sans avoir même de stock avec comme fournisseur un site chinois peu cher. 
        <br><br>Le fournisseur expédie la commande directement chez le client qui aura acheté sur son site internet.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Est-ce de l'arnaque ?</h2>
        <p>Non, le dropshipping n'est pas une arnaque mais une technique de commercialisation. <br><br>Néanmoins certaines personnes l'utilisent à des fins malhonnêtes en vendant des articles 10 fois le prix d'origine sur Aliexpress ou d'autre site.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Pourquoi StopDropshipping ?</h2>
        <p>StopDropshipping vise à aider le consommateur pour savoir si c'est du dropshipping et obtenir l'article au meilleur prix.
          <br><br>Pourquoi payer un produit plus cher alors que vous pouvez l'acheter à sa valeur réelle directement auprès du vendeur d'origine ?</p>
      </li>
    </ul>
  </div>
{% endblock %}
