{% extends 'layout.twig' %}

{% block body %}
  <div class="product">
    <div class="row first_row_product">
      <img src="{{ data.logo }}">
      <h4>{{ data.url}}</h4>
    </div>
    {% if data.dropshipping == true %}
      <div class="row second_row_product">
        <h2>Liste des produits scannés :</h2>
      </div>
      <div class="list_product">
        {% for product in data.list_product %}
          <a href="{{ product.aliseeks }}" target="_blank">
            <div class="site">
              <img src="{{ product.image }}" style="width: auto; height: 120px; margin-left: 10px;">
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="row second_row_product">
        <p>Site non répertorié au sein de la plateforme</p>
      </div>
    {% endif %}
    <div class="row">
      <a href="/"><button id="btn" type="button" class="neu-light btn-action" >Revenir au menu d'acceuil</button></a>
    </div>
  </div>
{% endblock %}
