body {
  padding: 50px;
  font: 14px 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #F7FAFC;
}

h1 {
  color: #2B3BBF;
  font: 50px 'Open Sans', sans-serif;
  position: relative;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

p.about {
  margin: 40px auto 50px;
  max-width: 500px;
  color: #4d4d4d;
  font: 'Open Sans', sans-serif;
  line-height: 1.6em;
  text-align: center;
  font-size: 12px;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchBox #input {
  height: 36px;
  border: 1px solid grey;
  width: 400px;
  padding: 0px 30px 0px 15px;
}

.searchBox #input:focus {
  outline: none;
  border: 1px solid #2B3BBF;
}

.iconSearch {
  margin-left: -30px;
  width: 20px;
  height: 20px;
  right: 25px;
}

.list_site {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#inputSearch {
  height: 36px;
  border: 1px solid grey;
  width: 200px;
  padding: 0px 30px 0px 15px;
  margin: 10px 0px 10px 20px;
}

#inputSearch:focus {
  outline: none;
  border: 1px solid #2B3BBF;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  color: #2B3BBF;
  text-align: justify;
}

.site {
  width: 200px;
  height: 100px;
  background: #f3f3f3;
  box-shadow:  11px 11px 22px #c4c3c3,
              -11px -11px 22px #fdfdfd;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site:hover {
  background: #f3f3f3;
  box-shadow:  11px 11px 22px #fafafa,
              -11px -11px 22px #e9e9e9;
}

.site > img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.site > h3 {
  color: #222222;
}

a {
  text-decoration: none;
}

/* Site */

.second_row_product > h2 {
  margin-top: 10px;
}

.list_product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.list_product > a > .site {
  width: 150px;
  height: 120px;
}


/* Menu */

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0px;
  z-index: 100;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}

li {
  display: inline;
  margin: 0px 15px;
}

li:first-child {
  margin-left: 28px
}

li > a {
  text-decoration: none;
  color: #666666;
  font-size: 15px;
}

li > a:hover {
  color: #2B3BBF;
}

/* Product */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.first_row_product > img {
  height: 25px;
  width: auto;
}

.first_row_product > h4 {
  color: #2B3BBF;
  font-weight: 600;
  max-width: 550px;
  margin-left: 10px;
}

.second_row_product > img {
  height: 400px;
  width: auto;
  border-radius: 15px;
}

.second_row_product > p {
  margin: 40px auto 50px;
  max-width: 600px;
  color: #4d4d4d;
  font: "Google Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  text-align: center;
  font-size: 14px;
}

.second_row_product a {
  color: #2B3BBF;
}

.product {
  margin-top: 20px;
  border-radius: 50px;
  background: #f3f3f3;
  box-shadow:  41px 41px 82px #c4c3c3,
              -41px -41px 82px #fdfdfd;
}

button{
	font-size: 14px;
	line-height: 16px;
	padding: 16px 43px;
	border: 0;
	outline: 0;
	font-weight: 700;
	cursor: pointer;
	border-radius: 34px;
	transition: 0.25s;
}

button.neu-light{
	background-color: rgb(243, 243, 243); 
	filter: drop-shadow(3.4px 3.4px 3.4px rgb(183, 177, 181)) drop-shadow(-3.4px -3.4px 3.4px white);
	-webkit-filter: drop-shadow(3.4px 3.4px 3.4px rgb(183, 177, 181)) drop-shadow(-3.4px -3.4px 3.4px white);
	box-shadow: inset 4.3px 4.3px 7px #fff;
}
button.neu-light:hover{
	filter: drop-shadow(5px 5px 3.4px rgb(183, 177, 181));
	-webkit-filter: drop-shadow(5px 5px 3.4px rgb(183, 177, 181));
	box-shadow: inset 2.5px 2.5px 2.5px #fff;
}
button.neu-light:active{
	filter: drop-shadow(0px 0px 0px rgb(183, 177, 181));
	-webkit-filter: drop-shadow(0px 0px 0px rgb(183, 177, 181));
	box-shadow: inset 4.3px 4.3px 7px rgb(183, 177, 181);
	
}
button.neu-light.active{
	filter: unset;
	box-shadow: unset;
	filter: drop-shadow(3px 1px 18px rgb(255, 255, 255));
	-webkit-filter: drop-shadow(3px 1px 18px rgb(255, 255, 255));
    box-shadow: inset 5.3px 5.3px 7px rgba(183, 177, 181, 0.34);
    border: 1px solid rgb(255, 255, 255);
	color: #666;
	text-shadow: 1px 1px 1px white;
}
.btn-action{
  color: #2B3BBF;
  margin: 15px 0px 30px 0px;

}
.btn-action:hover{
	color: #2333c2;
}

/* FAQ */

#faq {
  max-width: 700px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
  display: flex;
  flex-flow: wrap;
}
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.3s;
}

#faq .no-select, #faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#faq h2 {
  color:  #2B3BBF;
  font-family: 'hm_light', sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  padding: 15px 15px 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: .2s;
}

#faq p {
  color: #333;
  text-align: left;
  font-family: 'hm_light', sans-serif;
  font-size: 14px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 50px 0 15px;
  transition: .3s opacity, .6s max-height;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
  -webkit-tap-highlight-color: transparent;
}
#faq ul li + li {
  margin-top: 15px;
}
#faq ul li:last-of-type {
  padding-bottom: 0;
}
#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
#faq ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #2B3BBF;
  width: 3px;
  height: 9px;
}
#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
#faq ul li input[type=checkbox]:checked ~ h2 {
  color: #000;
}
#faq ul li input[type=checkbox]:checked ~ p {
  max-height: 0;
  transition: .3s;
  opacity: 0;
}
#faq ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#faq ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

/* Contact */

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#contact-form {
  background-color: white;
  border-radius: 15px;
  width: 75%;
  max-width: 700px;
}

#contact-form > fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
}

fieldset > input, fieldset > textarea, fieldset > button {
  margin-bottom: 15px;
}

fieldset > button {
  width: 250px;
}

fieldset > label {
  align-self: flex-start;
  font: 14px 'Open Sans', sans-serif;
  color: #444444;
  margin-bottom: 10px;
}

fieldset > input, fieldset > textarea {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #b4bac2;
  width: 100%;
  line-height: 30px;
}

fieldset > textarea {
  height: 120px;
}

.success, .not-success {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.success > p {
  color: white;
  background-color: green;
  border-radius: 10px;
  padding: 5px 75px;
}

.not-success > p {
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 5px 75px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 8px;
  height: 30px;
  width: 100%;
  text-align: center;
}

/* Responsive design */

@media screen and (max-width: 800px) {
  html, body {
    margin: 0px;
  }
  .menu > ul > li > a {
    font-size: 17px;
  }
  h1 {
    font-size: 30px;
  }
  #contact-form  {
    width: 100%;
  }
  p.about {
    font-size: 15px;
    text-align: justify;
  }
  .list_site {
    justify-content: space-around;
    width: 100%;
  }
  .site {
    width: 135px;
    height: 75px;
    flex-direction: column;
    margin: 10px;
  }
  .site > h3 {
    font-size: 13px;
  }
  .site > img {
    height: 15px;
    margin-right: 5px;
  }
  .second_row_product > img {
    height: 300px;
  }
  .first_row_product > h4 {
    font-size: 11px;
  }
  .second_row_product > h2 {
    font-size: 20px;
  }
  .second_row_product > img {
    height: 200px;
  }
  .btn-action {
    max-width: 120px;
    padding: 15px;
  }
  footer > p {
    font-size: 12px;
  }
  #inputSearch {
    padding-right: 15px;
    margin-left: 35px;
  }
  #faq p {
    font-size: 18px;
    padding: 0px 0px 0 15px
  }
  fieldset > label, fieldset > input, fieldset > textarea, fieldset > button {
    font-size: 18px;
  }
  
} 